.gowns{
    width:300px; 
    height:300px;
}
#marque{
   direction: left;


}
#topic{
    font-size: xx-large;
    text-align: center;
}
#jewelry{
    font-size: xx-large;
    text-align: center;
}
#marque1{
    direction:left;
}
#container{
    width: 1000px;
    height: 1000px;
    margin: 100px;
    background-color: rgb(34, 30, 30);
    -webkit-text-fill-color: aliceblue;
}