#container{
    width: 1800px;
}

#pic{
    text-align: end;
}
#navbar{
    height: 50px;
    display: flex;
    gap: 10%;
    text-decoration: none;
    -webkit-text-fill-color: aliceblue;
    font-size:large;
    background-color: rgb(53, 48, 48);
}
#words{
    font-size: xx-large;
    position: absolute;
    margin: 200px;
    text-align: center;
    -webkit-text-fill-color: aliceblue;
    text-align: center;
}
#design{
    text-decoration: none;
    -webkit-text-fill-color: brown;
}
.gowns{
    width:300px; 
    height:300px;
}
#marque{
   direction: left;


}
#topic{
    font-size: xx-large;
    text-align: center;
}
#marque1{
    direction:left;
    behavior: alternate;
}
#style{
    width: 1800px;
    height: 1000px;
    background-color: rgb(19, 17, 17);
    -webkit-text-fill-color: aliceblue;
}
#jewelry{
    font-size: xx-large;
    text-align: center;
}
#main{
    margin:100px;
}
#cap{
    width:500px;
    height:500px;
}
#ahead{
    display:flex;
    gap: 3%;
    background-color: rgb(88, 74, 74);
}
#shoe{
    height: 500px;
    width: 500px;
}
#below{
    font-size: xx-large;
    text-align: center;
}